@font-face {
    font-family: 'RixInooAriDuriR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/RixInooAriDuriR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/*=====.header시작======*/
.header {
    display: block;
    border-bottom: 1px solid #bbb;
    height: 50px;
}
.header_inner {
    width: 1000px;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin: 0 auto;
}
.header_inner .menu {
    line-height: auto;
    text-align: center;
    flex: 0 1 50px;
}
.header_inner .menu a:hover,
.header_inner .gnb li a:hover{
    color: #33ffcc;
}
.header_inner .logo {
    margin-right: 50px;
    display: flex;
}
.header_inner .logo a {
    font-family: 'RixInooAriDuriR';
    color: #0d0d12;
    font-weight:lighter;
    font-size: 25px;
    line-height: 25px;
}
.header_inner .gnb {
    width: 450px;
    display: -webkit-flex;
    display: flex;
    justify-content: left;
}
.header_inner .gnb li {
    margin: 0 50px 0 0;
}
.header_inner .login a {
    display: block;
    color: #888888;
}
.header_inner .login a:hover {
    display: block;
    color: #0d0d12;
}
.header_inner .service a {
    padding: 8px 30px;
    border-radius: 30px;
    border: 1px solid #bbb;
    background-color: #f4f4f4;
    line-height: 20px;
}
.header_inner .service a:hover {
    color: #33ffcc;
    background-color: #0d0d26;
    border: 1px solid #0d0d26;
}
/*=====.header끝======*/

#wrap {
    height: 1000px;
    background-color: #f2f2f2;
}

/*======.as_wrap 시작======*/
#as_wrap {
    width: 1000px;
    margin: 0 auto;
    display: flex;
}

/*.as_menu======*/
.as_menu {
    margin-right: 50px;
}
.as_title {
    font-size: 20px;
    text-align: left;
    line-height: 1.5em;
    font-weight: bold;
    padding: 60px 0 0 0;
}

.as_position {
    padding: 10px 50px 10px 30px;
}

.as_position a {
    font-size: 16px;
    font-weight: 900;
    color: #333333;
    box-shadow: inset 0 -10px 1px #33ffcc;
}

.as_proposal {
    padding: 0px 50px 0px 30px;
    margin-bottom: 10px;
}

.as_proposal a {
    font-size: 16px;
    font-weight: normal;
}

.as_proposal a:hover {
    color: #33ffcc;
    font-weight: bold;
}
/*.as_menu 끝=======*/

/*.as_edit 시작======*/
.as_edit {
    width: 723px;
	border: 1px solid #bbb;
    padding: 20px 0 40px 20px; /*padding-bottom 수정하기*/
    margin-top: 100px;
	border-radius: 5px;
	background: #fff;
}

.as_edit strong {
    font-size: 18px;   
}

.as_edit span {
    line-height: 50px;
    color: #bbb;
}
/*.as_edit 끝======*/

/*.as_img 시작=====*/
.as_edit .as_img .photo{
    text-align: center; /*삭제*/
    padding-top: 30px; /*삭제*/
    width: 97px;
    height: 97px;
    margin-right: 20px;
    border-radius: 50%;
    background-color: #bbb;
}

.as_edit .as_img {
    display: flex;
}

.as_edit .as_img .img div {
    display: inline-block;
    margin-top: 60px;
}

.as_edit .as_img .img .plus .input_file {
    width: 23px;
    height: 23px;
    color: #fff;
    background: #0000ee;
    border: 1px solid #0000ee;
    border-radius: 50px;
    font-size: 25px;
    padding-top: 5px;
    margin-left: 10px;
    cursor: pointer;    
    display: flex;
    align-items: center;
    justify-content: center;
}

.as_edit .as_img .img .text {
    color: #0000ee;
    font-weight: 700;
    font-size: 16px;
}
/*.as_edit 끝======*/

/*.as_detail 시작====*/
/*공통*/
.as_detail_name,
.as_detail_email,
.as_detail_phone {
    display: flex;
    margin-bottom: 30px;
}

.as_detail_name h6,
.as_detail_email h6,
.as_detail_phone h6 {
    width: 132px;
    font-weight: normal;
    color: #bbb;
}

.as_detail_name p,
.as_detail_email p,
.as_detail_phone p {
    width: 520px;
    padding-bottom: 10px;
    border-bottom: 1px solid #0d0d12;
}

/*.as_detail_name*/
.as_detail_name {
    margin-top: 60px;
}

/*.as_button*/
.as_button button {
    margin: 20px 0 0 430px;
    width: 226px;
    height: 40px;
    font-size: 18px;
    border-radius: 40px;
    border: 1px solid #bbb;
    background-color: #f4f4f4;
}

.as_button button:hover {
    cursor: pointer;
    color: #33ffcc;
    background-color: #0d0d26;
    border: 1px solid #0d0d26;
}

/*=====.footer시작======*/
.footer {
    border-bottom: 1px solid #bbb;
    height: 250px;
    background-color: #0d0d26;
}

.footer_inner {
    width: 1000px;
    height: 100%;
    align-items: center;
    margin: 0 auto;
}

.footer_inner .top {
    height: 70px;
    border-bottom: 1px solid #bbb;
}

.footer_inner .top .gnb{
    display: -webkit-flex;
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 100%;
    width: 650px;
}

.footer_inner .logo {
    font-family: 'RixInooAriDuriR';
    color: #f4f4f4;
    font-weight:lighter;
    font-size: 20px;
}

.footer_inner .top li a {
    font-size: 12px;
    color: #f4f4f4;
}

.footer_inner .bottom {
    padding: 30px 0 0 35px;
}

.footer_inner .bottom p {
    font-size: 10px;
    color: #f4f4f4;
}

.footer_inner .top a:hover {
    color: #33ffcc;
}
/*=====.footer끝======*/
