@font-face {
    font-family: 'RixInooAriDuriR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/RixInooAriDuriR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.header {
    display: block;
    border-bottom: 1px solid #bbb;
    height: 50px;
}

.header_inner {
    width: 1000px;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin: 0 auto;
}

.header_inner .menu {
    line-height: auto;
    text-align: center;
    flex: 0 1 50px;
}

.header_inner .menu a:hover,
.header_inner .gnb li a:hover{
    color: #33ffcc;
}


.header_inner .logo {
    margin-right: 50px;
    display: flex;
}

.header_inner .logo a {
    font-family: 'RixInooAriDuriR';
    color: #0d0d12;
    font-weight:lighter;
    font-size: 25px;
    line-height: 25px;
}

.header_inner .gnb {
    width: 450px;
    display: -webkit-flex;
    display: flex;
    justify-content: left;
}

.header_inner .gnb li {
    margin: 0 50px 0 0;
}

.header_inner .login a {
    display: block;
    color: #888888;
}

.header_inner .login a:hover {
    display: block;
    color: #0d0d12;
}

.header_inner .service a {
    padding: 8px 30px;
    border-radius: 30px;
    border: 1px solid #bbb;
    background-color: #f4f4f4;
    line-height: 20px;
}

.header_inner .service a:hover {
    color: #33ffcc;
    background-color: #0d0d26;
    border: 1px solid #0d0d26;
}