@font-face {
    font-family: 'RixInooAriDuriR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/RixInooAriDuriR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/*=====.header시작======*/
.header {
    display: block;
    border-bottom: 1px solid #bbb;
    height: 50px;
}
.header_inner {
    width: 1000px;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin: 0 auto;
}
.header_inner .menu {
    line-height: auto;
    text-align: center;
    flex: 0 1 50px;
}
.header_inner .menu a:hover,
.header_inner .gnb li a:hover{
    color: #33ffcc;
}
.header_inner .logo {
    margin-right: 50px;
    display: flex;
}
.header_inner .logo a {
    font-family: 'RixInooAriDuriR';
    color: #0d0d12;
    font-weight:lighter;
    font-size: 25px;
    line-height: 25px;
}
.header_inner .gnb {
    width: 450px;
    display: -webkit-flex;
    display: flex;
    justify-content: left;
}
.header_inner .gnb li {
    margin: 0 50px 0 0;
}
.header_inner .login a {
    display: block;
    color: #888888;
}
.header_inner .login a:hover {
    display: block;
    color: #0d0d12;
}
.header_inner .service a {
    padding: 8px 30px;
    border-radius: 30px;
    border: 1px solid #bbb;
    background-color: #f4f4f4;
    line-height: 20px;
}
.header_inner .service a:hover {
    color: #33ffcc;
    background-color: #0d0d26;
    border: 1px solid #0d0d26;
}
/*=====.header끝======*/

/*=====.login 시작=====*/
.wrap {
    width: 1000px;
    height: 700px;
    margin: 0 auto;
}
/*.login_logo=====*/
.login_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.login_logo .logo {
    margin-top: 30px;
    line-height: 100px;    
}

.login_logo .logo a {
    font-family: 'RixInooAriDuriR';
    color: #0d0d12;
    font-weight:lighter;
    font-size: 25px;
    line-height: 25px;
}

.login_logo h3 {
    font-size: 22px;
    margin-bottom: 20px;
}
.login_logo h4 {
    color: #bbb;
    margin-bottom: 20px;
}

/*.login_detail=====*/
.login_detail {

}

.login_form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /*text-align: center; 중앙정렬을 join_text만 줄지 전체에 줄지 고민*/
}

/*공통*/
.login_id,
.login_password {
    margin-top: 20px;
}

.login_id .text p,
.login_password .text p {
    font-weight: bold;
    color: #bbb;
}

.login_id input,
.login_password input {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    padding: 6px 12px;
    border: 1px solid #bbb;
    outline: none;
}

.login_id .text,
.login_password .text {
    margin-bottom: 5px;
}

.login_id .text p,
.login_password .text p {
    padding-top: 5px;
}

.login_id_remember,
.login_id input::placeholder,
.login_password input::placeholder {
    color: #bbb;
}

/*.login_id_remember=====*/
.login_id_remember {
    width: 300px;
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
}

.login_id_remember input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

/*.login_button=====*/
.login_button button {
    margin-top: 20px;
    width: 300px;
    height: 40px;
    font-size: 18px;
    border-radius: 40px;
    border: 1px solid #bbb;
    background-color: #f4f4f4;
}

.login_button button:hover {
    cursor: pointer;
    color: #33ffcc;
    background-color: #0d0d26;
    border: 1px solid #0d0d26;
}

/*.login_text*/
.login_text {
    margin-top: 20px;
    text-align: center;
}

/*=====.footer시작======*/
.footer {
    border-bottom: 1px solid #bbb;
    height: 250px;
    background-color: #0d0d26;
}

.footer_inner {
    width: 1000px;
    height: 100%;
    align-items: center;
    margin: 0 auto;
}

.footer_inner .top {
    height: 70px;
    border-bottom: 1px solid #bbb;
}

.footer_inner .top .gnb{
    display: -webkit-flex;
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 100%;
    width: 650px;
}

.footer_inner .logo {
    font-family: 'RixInooAriDuriR';
    color: #f4f4f4;
    font-weight:lighter;
    font-size: 20px;
}

.footer_inner .top li a {
    font-size: 12px;
    color: #f4f4f4;
}

.footer_inner .bottom {
    padding: 30px 0 0 35px;
}

.footer_inner .bottom p {
    font-size: 10px;
    color: #f4f4f4;
}

.footer_inner .top a:hover {
    color: #33ffcc;
}
/*=====.footer끝======*/
