@charset "utf-8";

#wrap{}
#header{
    height:70px;
    border-bottom:1px solid #bbb;
    background:#aee;
}
#header_inner{
    width:1200px;
    height:70px;
    margin:0 auto;
    background:#eee;
    display:-webkit-flex;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.logo{
    letter-spacing:-1px;
    /*
    {letter-spacing:숫자px;}
    글자와 글자 사이 간격(=자간) 설정할 때 사용
    양수(+)로 갈수록 간격이 넓어짐
    음수(-)로 갈수록 간격이 좁아짐(겹칠수도 있음)
    */
}
.logo span{
    font-weight:400;
    font-size:28px;
}
.gnb{}
.gnb h2{
    display: none;
}
.gnb ul{
    display: -webkit-flex;
    display: flex;
    justify-content:space-between;
    width:400px;
}
.gnb ul li{
    width:70px;
    background:#eaa;
    text-align:center;
}
.gnb ul li:hover a{
    font-weight:700;
    text-decoration:underline;
}

.utill{}
.utill ul{}
.utill ul li{
    display:inline-block;
    margin-left:15px;
}
.utill ul li a:hover{
    color:#1d4;
    /*
    하위 포함관계 depth 구조가 없으므로 a에 바로 적용가능.
    그외에는 li에 hover를 주는게 안전함.
    */
}

/*
html5 비디오태그 :  html5 웹표준에서 새로 나온 태그.
== 비디오파일 지원 ==
대부분 브라우저에서 재생할 수 있도록 하려면
mp4, ogg, webm 확장자 파일이 있어야 함.
mp4: 전체 브라우저 대부분 지원함 (가장 많이 사용)
ogg, webm: 익스플로러, 사파리 지원 불가 (IE9버전이상)
<video src="비디오 경로"></video> // <img>태그와 달리 닫는 태그 있음

== 비디오태그 속성값 ==
width
height
autoplay : 자동재생 여부 설정 (주로 음소거 속성과 함께 사용)
muted    : 음소거 여부 설정
controls  : 재생 조절 장치 유무 설정
loop      : 반복재생 여부 설정
poster    : 영상로딩시 대체이미지 설정
*/

#main_video{
    width:100%;
    height:680px;
    position:relative;
    overflow:hidden;    /* 이 영역 외에 튀어나온 부분 다 숨김 */
}
#main_video .mv video{
    width:100%;
    min-width:1920px;   /* 창크기 너비 줄여도 값만큼 유지함. */
    position:relative;      /* 이미지 위치조정 기준 잡을때 주로 사용하는 방법 */
    top:50%;                /* 이미지 위치조정 기준 잡을때 주로 사용하는 방법 */
    left:50%;                /* 이미지 위치조정 기준 잡을때 주로 사용하는 방법 */
    transform:translate(-50%,0) /* transform:translate(가로%,세로%) : 가로숫자 커질수록 오른쪽, 세로숫자 커질수록 아래쪽으로 이동 */
}
#main_video .mv_txt{
    position:absolute;
    top:50%;
    transform:translateY(-50%);     /* 포지션을 가진 속성에서 세로 중앙정렬할 때 */
    left:0;
    width:100%;         /* w값 기준을 잡아줌 */
    text-align:center;   /* w값 기준의 센터(가로 중앙정렬할 때) */
}/* => 중앙정렬 한 패키지 */

#main_video .mv_txt h3{
    font-size:100px;
    line-height:100px;
    color:#fff;
    text-shadow:10px 10px 10px rgba(255,255,255,0.7);   /* text-shadow:가로 세로 번짐정도 색상( , , ,투명도) => 가로값 음수: 왼쪽으로 이동, 세로값 음수: 위로 이동, 번짐정도: 값이 클수록 많이 번지며 위치이동됨 */

    /*
    == css3의 그림자 속성 ==

    {text-shadow:가로위치 세로위치 번짐정도 색상;}

    + :  오른쪽 / 아래
    -  :  왼쪽   / 위로

    */
}
#main_video .mv_txt .apply{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-150px, 80px);
    width:300px;
    transition:width 0.5s;
}
#main_video .mv_txt .apply:hover{
    width:300px;
    background:#fff;
}
#main_video .mv_txt .apply a{
    display:block;
    width:300px;
    height:60px;
    line-height:60px;
    border:2px solid #fff;
    color:#fff;
    font-size:20px;
}
#main_video .mv_txt .apply:hover a{
    color:#1d4;
}