@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'GmarketSansMedium';
    font-size: 14px;
    box-sizing: border-box;
}

a {
    color: #111;
    text-decoration: none;
}

img {
    border: none;
    vertical-align: top;
}

ul, ol {
    list-style: none;
}